{% from "components/alert.html" import Alert %}
{% from "components/icon.html" import Icon %}
{% import "components/member_form.html" as member_form %}
{% from "components/modal.html" import Modal %}
{% from "components/multi_step_modal_form.html" import MultiStepModalForm %}
{% from 'components/save_button.html' import SaveButton %}
{% import "portfolios/fragments/add_new_portfolio_member.html" as member_form_fields %}


<!-- create modals for all members here -->
{% for member in members -%}
  {% set invite_pending = member.role_status == 'Pending' %}
  {% set invite_expired = member.role_status == 'Invite expired' %}
  {% if user_can(permissions.EDIT_PORTFOLIO_USERS) -%}
    {% set modal_name = "edit_member-{}".format(loop.index) %}
    {% call Modal(modal_name, classes="form-content--app-mem") %}
      {{ member_form.SubmitStep(
        name=modal_name,
        form=member_form_fields.PermsFields(),
        submit_text="Invite member",
        modal=new_manager_modal_name,
      ) }}
    {% endcall %}
  {%- endif %}
{%- endfor %}

<h3>Portfolio Managers</h3>
<div class="panel">
  <section class="member-list">
    <div class="responsive-table-wrapper">
      <table class="atat-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Portfolio Permissions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>{{ ppoc.user_name }}{% if current_member_id == ppoc.role_id -%} (You){%- endif %}</strong>
            </td>
            <td>
              {% for perm, value in ppoc.permission_sets.items() -%}
                <div>
                  {{ ("portfolios.admin.members.{}.{}".format(perm, value)) | translate }}
                </div>
              {%-endfor %}
              <!-- todo: see how changing PPoC should happen -->
            </td>
          </tr>
          {% for member in members -%}
            {% set perms_modal = "edit_member-{}".format(loop.index) %}
            {% set invite_pending = member.role_status == 'invite_pending' %}
            {% set invite_expired = member.role_status == 'invite_expired' %}
            <tr>
              <td>
                <strong>{{ member.user_name }}{% if current_member_id == member.role_id -%} (You){%- endif %}</strong>
              </td>
              <td class="member-menu--td">
                {% for perm, value in member.permission_sets.items() -%}
                  <div>
                    {% if value -%}
                      {{ ("portfolios.admin.members.{}.{}".format(perm, value)) | translate }}
                    {%- endif %}
                  </div>
                {%-endfor %}
                {% if user_can(permissions.EDIT_PORTFOLIO_USERS) -%}
                  <toggle-menu inline-template v-cloak>
                    <div class="member-menu">
                      <span v-if="isVisible" class="accordion-table__item__toggler accordion-table__item__toggler--active">
                        {{ Icon('ellipsis')}}
                      </span>
                      <span v-else class="accordion-table__item__toggler">
                        {{ Icon('ellipsis')}}
                      </span>

                      <div v-show="isVisible" class="accordion-table__item-toggle-content member-menu__toggle">
                        <a v-on:click="openModal('{{ perms_modal }}')">
                          {{ "portfolios.applications.members.menu.edit" | translate }}
                        </a>
                        {% if invite_pending or invite_expired -%}
                          {% set revoke_invite_modal = "revoke_invite_{}".format(member.role_id) %}
                          {% set resend_invite_modal = "resend_invite-{}".format(member.role_id) %}
                          <a v-on:click='openModal("{{ resend_invite_modal }}")'>
                            {{ "portfolios.applications.members.menu.resend" | translate }}
                          </a>
                          {% if user_can(permissions.DELETE_APPLICATION_MEMBER) -%}
                            <a v-on:click='openModal("{{ revoke_invite_modal }}")'>{{ 'invites.revoke' | translate }}</a>
                          {%- endif %}
                        {%- endif %}
                      </div>
                    </div>
                  </toggle-menu>
                {%- endif %}
              </td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </section>

  {% if user_can(permissions.CREATE_PORTFOLIO_USERS) %}
    {% set new_manager_modal = "add-portfolio-manager" %}
    <a class="usa-button usa-button-secondary add-new-button" v-on:click="openModal('{{ new_manager_modal }}')">
      Add Portfolio Manager
    </a>

    {{ MultiStepModalForm(
      name=new_manager_modal,
      form=new_manager_form,
      form_action=url_for("portfolios.invite_member", portfolio_id=portfolio.id),
      steps=[
        member_form.BasicStep(
          title="Add Manager",
          form=member_form_fields.InfoFields(new_manager_form.user_data),
          next_button_text="Next: Permissions",
          previous=False,
          modal=new_manager_modal_name,
        ),
        member_form.SubmitStep(
          name=new_manager_modal,
          form=member_form_fields.PermsFields(new_manager_form),
          submit_text="Invite member",
          modal=new_manager_modal_name,
        )
      ],
    ) }}
  {% endif %}
</div>
